<body class="proyect">
    <div class="container text-center p-5">
        <h1 class="text-light" id="proyectos">PROYECTOS<strong></strong></h1>
        <div class="row ">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-5 ">
                <div class="cardshadow border border-danger pl-3">
                    <img src="../../../assets/karting.jpg" class="card-img-top img-fluid" alt="Proyecto karting">
                    <div class="card body">
                        <h4> Torneo de karting </h4>
                        <p class="text-light fs-6 m-1"><em>Proyecto desarrollado en consola con tecnlogíaC++, para el analisis de carrera de karting con programación estructurada</em></p>
                        <div class="btn-group" role="group">
                            <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting"
                                class="btn img-fluid" role="button"><img src="/../../assets/github.png"
                                    alt="Enlace">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-5">
                <div class="cardshadow border border-danger">
                    <img src="../../../assets/arbol.jpg" class="card-img-top img-fluid" alt="Inventario de arboles">
                    <div class="card body">
                        <h4> Inventario de arboles </h4>
                        <p class="text-light fs-6 m-1"><em>Programa desarrollado en consola C++, con programación estructurada para el control de arboles de un municipio.</em></p>
                        <div class="btn-group" role="group">
                            <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting"
                                class="btn img-fluid" role="button"><img src="/../../assets/github.png"
                                    alt="Enlace">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-5">
                <div class="cardshadow border border-danger">
                    <img src="../../../assets/dados.jpg" class="card-img-top img-fluid" alt="Juego de dados">
                    <div class="card body">
                        <h4> Almen-dice </h4>
                        <p class="text-light fs-6 m-1"><em>Juego de dados desarrollado en consola C++, con programación estructurada, ideal para jugar entre amigos</em></p>
                        <div class="btn-group" role="group">
                            <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting"
                                class="btn img-fluid" role="button"><img src="/../../assets/github.png"
                                    alt="Enlace">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-5">
                <div class="cardshadow border border-danger">
                    <img src="../../../assets/pesca.jpg" class="card-img-top img-fluid " alt="Torneo de pesca">
                    <div class="card body">
                        <h4> Torneo de pesca </h4>
                        <p class="text-light fs-6 m-1"><em>Programa para torneo de pesca desarrollado en C++, con programación estructurada</em></p>
                        <div class="btn-group" role="group">
                            <a href="https://github.com/EmanuelFCasulo/Torneo-de-Karting"
                                class="btn img-fluid" role="button"><img src="/../../assets/github.png"
                                    alt="Enlace">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-5">
                <div class="cardshadow border border-danger">
                    <img src="../../../assets/portada-web.png" class="card-img-top img-fluid " alt="Proyecto arboles" id="card-web">
                    <div class="card body">
                        <h4> Portfolio Web</h4>
                        <p class="text-light fs-6 m-1"><em>Proyecto final del curso "Argentina Programa", desarrollado en angular con BD</em></p>
                        <div class="btn-group" role="group">
                            <a href="https://github.com/EmanuelFCasulo/PortfolioWebFullStack"
                                class="btn img-fluid" role="button"><img src="/../../assets/github.png"
                                    alt="Enlace"
                            ></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>