section a{
    text-decoration: none;
    color: #6c757d;
}

section a:hover{
    background: whitesmoke;
    color: black;
    box-shadow: 5px 3px 20px #d8223b;
    border-radius: 6px;
    transition: 0.7s;
    padding: 5px;
    font-size: 16px;
}

footer{
    /* background: rgb(25,22,38);
    background: linear-gradient(180deg, rgba(25,22,38,1) 0%, rgba(34,29,57,1) 55%, rgba(21,19,31,1) 100%); */
    background: black;
}
