<div class="row d-block mx-auto" id="about">
    <div class="col-lg-2 col-xs-12" id="acerca">
        <img src="https://i.ibb.co/bLjq9t4/IMG-20211106-010726-430.jpg" alt="foto-de-perfil" id="fotoperfil">
        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-12" >
        <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
        <h6 id="cargo">Estudiante de programación - UTN FRGP</h6>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-12 col-lg-12 pt-5" id="acerca-de-mi">
        <div class="card text-center" id="card-acerca">
            <div class="card-header">
                Acerca de mí
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Estudiante de Programación en búsqueda de crecimiento tanto laboral como personal
                    en el área de
                    desarrollo, deseando ampliar mis conocimientos y experiencias. Gran facilidad para las relaciones
                    interpersonales y rápido aprendizaje.</p>
            </div>
            
        </div>
        <!--<span>
            <h3>Acerca de mí</h3>
        </span>
        <p>Estudiante de Programación en búsqueda de crecimiento tanto laboral como personal en el área de
            desarrollo, deseando ampliar mis conocimientos y experiencias. Gran facilidad para las relaciones
            interpersonales y rápido aprendizaje.</p>-->
    </div>
</div>