<section id="resume" class="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" >
                <h2 class="resume-title" *ngIf="!isLogged">Experiencia profesional</h2>
                <button type="button" class="btn" routerLink="/nuevaexp" *ngIf="isLogged">
                    <h2 class="resume-title">Experiencia profesional  <i class="bi bi-plus-circle-fill p-3" style="color:white ;"></i></h2>
                </button>
                <div class="resume-item" *ngFor="let Experiencia of expe">
                    <h4>{{Experiencia.puestoE}}</h4>
                    <h5>{{Experiencia.periodoE}}</h5>
                    <p><em>{{Experiencia.nombreE}}</em></p>
                    <ul>
                        <li>{{Experiencia.descripcionE}}</li>
                    </ul>
                    <div *ngIf="isLogged">
                        <button class="btn btn-light m-1 p-1" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="btn btn-danger m-1 p-1" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>