<div class="row d-block mx-auto" id="about">
    <div class="col-lg-2 col-xs-12" id="acerca">
        <img src="https://i.ibb.co/bLjq9t4/IMG-20211106-010726-430.jpg" alt="foto-de-perfil" id="fotoperfil">
        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-12" >
        <h3 id="nombre">{{persona.nombre}} {{persona.apellido}}</h3>
        <h6 id="cargo">Estudiante de Programación</h6>
        <h6 id="cargo">Universidad Tecnológica Nacional - FRGP</h6>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-12 col-lg-12 pt-5" id="acerca-de-mi">
        <div class="card text-center" id="card-acerca">
            <div class="card-header">
                Acerca de mí
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    Mi nombre es Emanuel Casulo, me encuentro estudiando la tecnicatura en programación de la UTN de Pacheco, me encuentro en pleno desarrollo tanto
                    personal como profesional, me dedico en el rubro de la tecnología hace aproximadamente 2 años, actualmente me encuentro trabajando como Soporte de aplicaciones
                    para Programatika SRL en constante capacitación. Me describo como una persona autodidacta, y apasionada por lo que le gusta, siempre con ganas de aprender cosas
                    nuevas :)
                </p>
            </div>   
        </div>
    </div>
</div>